body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
}

ul{
  list-style: none;
  margin-left: ;
}
li{
  float: left;
}
li a{
  display: block;
  padding: 12px
}
a{
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
}
a:hover{
  color: #d65a31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  margin-top: 2vh;
  /* background-color: #393e46; */
  color: #eeeeee;
  margin-left: auto;
}

.landing {
  margin-top: 2vh;
  /* background-color: #393e46; */
  color: #eeeeee;
}
.title {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 72px;
  font-weight: bold;
  color: #d65a31;
}
@media(max-width: 756px){
  .title{
    font-size: 52px;
  }
}
.body {
  color: #eeeeee;
  
}
.heading {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 5px;
}
.underline {
  margin-top: 0px;
  text-align: left;
  height: 7px;
  background-color: #d65a31;
}
.resume,
.connect {
  font-size: 1.5rem;
  font-weight: 300;
}
.resume > span {
  color: #d65a31;
  cursor: pointer;
  font-weight: normal;
}
i {
  cursor: pointer;
  padding-left: 8px;
}

.slick-prev {
  left: 0;
  position: absolute;
  z-index: 100;
  margin-left: 10px;
  border: solid #222831;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.slick-next {
  right: 0;
  margin-right: 10px;
  border: solid #222831;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.slick-prev:before {
  content: none;
}
.slick-next:before {
  content: none;
}

.project-img-container{
  display: block !important;
}
.project-img {
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  filter: grayscale(100%) contrast(1) brightness(90%);
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color: #d65a31;
  opacity: 0.7;
}

.project-img-container:hover .overlay{
  opacity: 0;
}

.project-img-container:hover .project-img{
  filter: none;
}

.card-heading {
  font-size: 32px;
  font-weight: 300;
}

.contact-email {
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  transition: color 0.3s;
  margin-bottom: 30px;
  display: block;
}

.contact-email:hover {
  color: #d65a31;
  cursor: pointer;
}

.copyright-text {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 300;
  color: #65686d;
}
